{{- $id := . -}}
# Vim-like g navigation
bind index g noop
bind pager g noop
bind index gg first-entry
bind pager gg top
bind index G last-entry
bind pager G bottom

# Virtual mailboxes (notmuch)
macro index,pager gi "<change-folder>notmuch://?query=tag:inbox and not tag:trash<enter>" "Go to inbox (virtual)"
macro index,pager gu "<change-folder>notmuch://?query=tag:unread and not tag:trash<enter>" "Go to unread (virtual)"

# Real mailboxes (relative to current account folder)
macro index,pager gI "<change-folder>=INBOX<enter>" "Go to INBOX (real)"
macro index,pager gs "<change-folder>=Sent<enter>" "Go to Sent (real)"
macro index,pager gd "<change-folder>=Drafts<enter>" "Go to Drafts (real)"
macro index,pager gt "<change-folder>=Trash<enter>" "Go to Trash (real)"

# Sidebar navigation
bind index,pager \Ck sidebar-prev
bind index,pager \Cj sidebar-next
bind index,pager \Co sidebar-open
bind index,pager B sidebar-toggle-visible

# Change folder (browser)
macro index,pager c "<change-folder>?" "Change folder"

bind index,pager <F5> sync-mailbox

# Open URLs with urlscan
macro index,pager \cb "<pipe-message>urlscan<enter>" "Extract and open URLs"

# Account switching
{{ range $i, $a := $id.mail.accounts -}}
macro index,pager <F{{ add $i 1 }}> '<sync-mailbox><enter-command>source {{ $.chezmoi.homeDir }}/.config/neomutt/accounts/{{ add $i 1 }}<enter><change-folder>!<enter>' "Switch to {{ $a.addr }}"
{{ end -}}
